<!-- Desktop Navbar Start -->
<nav class="desktop-nav">
  <div class="logo">
    <a href="/" class="image">
      <img src="public/images/logo.svg" alt="" />
    </a>
    <p class="logo-text">Snapsec</p>
  </div>
  <ul class="main-manu">
    <li>
      <a href="/index.html" class="active">Home</a>
    </li>
    <li>
      <a href="/#" class="productLink" id="product-hover">Products</a>
    </li>
    <li>
      <a href="/#" class="serviceLink" id="service-hover">Services</a>
    </li>
    <li>
      <a href="https://snapsec.co/blog" target="_blank">Blog</a>
    </li>
    <!-- <li>
      <a href="/pricing.html" target="">Pricing</a>
    </li> -->
    <li>
      <a href="/contact-us.html">Contact Us</a>
    </li>
    <li>
      <a href="/carrier.html">Jobs</a>
    </li>
  </ul>
  <a href="/contact-us.html">
    <button class="btn"> Get Started </button>
  </a>
</nav>
<!-- Desktop Navbar End -->
<!-- Desktop Navbar When you hover of Services Link -->
<div class="service-hover" id="Service-Tab" style="display: none; margin-top: 0px;">

  <div class="navbar-line"></div>
  <div class="hover-links">
    <div class="link">
      <div>
        <img src="/public/images/services/icons/security-testing.svg">
      </div>
      <a href="/services.html#VSPT">Vulnerability assesment and Penetration Testing</a>
    </div>
    <div class="link">
      <div>
        <img src="/public/images/services/icons/cloud-security.svg">
      </div>
      <a href="/services.html#DST">Cloud Security Testing</a>
    </div>
    <div class="link">
      <div>
        <img src="/public/images/services/icons/continuous-testing.svg">
      </div>
      <a href="/services.html#CST">Continious Security Testing</a>
    </div>
    <div class="link">
      <div>
        <img src="/public/images/services/icons/access-control.svg">
      </div>
      <a href="/services.html#ACME">Access Control Model Evaluation </a>
    </div>
    <div class="link">
      <div>
        <img src="/public/images/services/icons/mobile-security.svg">
      </div>
      <a href="/services.html#MAPT">Mobile Application Penetration Testing</a>
    </div>
    <div class="link">
      <div>
        <img src="/public/images/services/icons/infrastructure.svg">
      </div>
      <a href="/services.html#IPT">Infrastructure Penetration Testing</a>
    </div>
    <div class="link">
      <div>
        <img src="/public/images/services/icons/api-security.svg">
      </div>
      <a href="/services.html#AST">API Security Testing</a>
    </div>
    <div class="link">
      <div>
        <img src="/public/images/services/icons/code-review.svg">
      </div>
      <a href="/services.html#CR">Code Review</a>
    </div>
    <div class="link">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M6.54 5C6.6 5.89 6.75 6.76 6.99 7.59L5.79 8.79C5.38 7.59 5.12 6.32 5.03 5H6.54ZM16.4 17.02C17.25 17.26 18.12 17.41 19 17.47V18.96C17.68 18.87 16.41 18.61 15.2 18.21L16.4 17.02ZM7.5 3H4C3.45 3 3 3.45 3 4C3 13.39 10.61 21 20 21C20.55 21 21 20.55 21 20V16.51C21 15.96 20.55 15.51 20 15.51C18.76 15.51 17.55 15.31 16.43 14.94C16.3307 14.904 16.2256 14.887 16.12 14.89C15.86 14.89 15.61 14.99 15.41 15.18L13.21 17.38C10.3754 15.9304 8.06961 13.6246 6.62 10.79L8.82 8.59C9.1 8.31 9.18 7.92 9.07 7.57C8.69065 6.41806 8.49821 5.2128 8.5 4C8.5 3.45 8.05 3 7.5 3Z" fill="#3561F6" />
        </svg>
      </div>
      <a href="/contact-us.html" class="new-style">Schedule a meeting to know more</a>
    </div>
  </div>
</div>
<!-- Desktop Navbar When you hover of Services Link -->



<!-- Desktop Navbar When you hover of Product Link -->
<div class="Product-hover" id="Product-Tab" style="display: none; margin-top: 0px;">
  
  <div class="navbar-line"></div>
  <div class="hover-links">
    
    <div class="link">
      <div>
        <img src="/public/images/product/icons/inventory.svg">
      </div>
      <a href="/products/?product=aim">Asset Inventory Management</a>
    </div>
    <div class="link">
      <div>
        <img src="/public/images/product/icons/attack-surface.svg">
      </div>
      <a href="/products/?product=asm">Attack Surface Management</a>
    </div>
    <div class="link">
      <div>
        <img src="/public/images/product/icons/vulnerability.svg">
      </div>
      <a href="/products/?product=vm">Vulnerability Management</a>
    </div>
    <div class="link">
      <div>
        <img src="/public/images/product/icons/disclosure.svg">
      </div>
      <a href="/products/?product=vdp">Vulnerability Disclosure Management</a>
    </div>

    <div class="link">
      <div>
        <img src="/public/images/product/icons/phishing.svg">
      </div>
      <a href="/products/?product=ps">Phishing Simulator</a>
    </div>

    <div class="link">
      <div>
        <img src="/public/images/product/icons/secret-scanner.svg">
      </div>
      <a href="/products/?product=ss">Secret Scanner</a>
    </div>

    <div class="link">
      <div>
        <img src="/public/images/product/icons/training.svg">
      </div>
      <a href="/products/?product=etp">Employee Training Managament</a>
    </div>

    <div class="link">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M6.54 5C6.6 5.89 6.75 6.76 6.99 7.59L5.79 8.79C5.38 7.59 5.12 6.32 5.03 5H6.54ZM16.4 17.02C17.25 17.26 18.12 17.41 19 17.47V18.96C17.68 18.87 16.41 18.61 15.2 18.21L16.4 17.02ZM7.5 3H4C3.45 3 3 3.45 3 4C3 13.39 10.61 21 20 21C20.55 21 21 20.55 21 20V16.51C21 15.96 20.55 15.51 20 15.51C18.76 15.51 17.55 15.31 16.43 14.94C16.3307 14.904 16.2256 14.887 16.12 14.89C15.86 14.89 15.61 14.99 15.41 15.18L13.21 17.38C10.3754 15.9304 8.06961 13.6246 6.62 10.79L8.82 8.59C9.1 8.31 9.18 7.92 9.07 7.57C8.69065 6.41806 8.49821 5.2128 8.5 4C8.5 3.45 8.05 3 7.5 3Z" fill="#3561F6" />
        </svg>
      </div>
      <a href="/contact-us.html" class="new-style">Schedule a meeting to know more</a>
    </div>
    
    <div class="link"></div>
  </div>
</div>
