
    <div class="product-new-card">
        <div class="product-img">
          <img src="public/images/product/lock.svg" alt="">

        </div>
        <div class="product-text">
          <h3>Attack Surface Management</h3>
          <p>Continuously identify and minimize your external attack surface for enhanced security.</p>
        </div>
        <div class="product-btn">
          <a href="products/asm.html">
            <button class="btn">
              <span> Get Started </span>
            </button>
          </a>
        </div>
      </div>

      <div class="product-new-card">
        <div class="product-img">
          <img src="public/images/product/lock.svg" alt="">
        </div>
        <div class="product-text">
          <h3>Vulnerability Management</h3>
          <p>Elevate collaboration and efficiency in your vulnerability management process.</p>
        </div>
        <div class="product-btn">
          <a href="products/csm.html">
            <button class="btn">
              <span> Get Started </span>
            </button>
          </a>
        </div>
      </div>

      <div class="product-new-card">
        <div class="product-img">
          <img src="public/images/product/lock.svg" alt="">
        </div>
        <div class="product-text">
          <h3>Employee Training Management</h3>
          <p>Enhance defense with Employee Training for crucial cybersecurity skills.</p>
        </div>
        <div class="product-btn">
          <a href="products/tms.html?p=etm">
            <button class="btn">
              <span> Get Started </span>
            </button>
          </a>
        </div>
      </div>

      <div class="product-new-card">
        <div class="product-img">
          <img src="public/images/product/lock.svg" alt="">
        </div>
        <div class="product-text">
          <h3>Secret Monitoring System</h3>
          <p>Monitor and detect leaked credentials and secrets across your external attack surface.</p>
        </div>
        <div class="product-btn">
          <a href="products/sms.html">
            <button class="btn">
              <span> Get Started! </span>
            </button>
          </a>
        </div>
      </div>

      <div class="product-new-card">
        <div class="product-img">
          <img src="public/images/product/lock.svg" alt="">
        </div>
        <div class="product-text">
          <h3>Phishing Simulator</h3>
          <p>Strategize and execute phishing simulation attacks seamlessly with our interactive Phishing Simulator.</p>
        </div>
        <div class="product-btn">
          <a href="products/ps.html">
            <button class="btn">
              <span> Get Started! </span>
            </button>
          </a>
        </div>
      </div>

<!--       <div class="product-new-card">
        <div class="product-img ">
          <img src="public/images/product/lock.svg" alt="">
        </div>
        <div class="product-text">
          <h3>API Security Management</h3>
          <p>Import your API's & test for 100+ vulnerabilities with our API Security Management.</p>
        </div>
        <div class="product-btn">
          <a href="products/comming.html?p=apisec">
            <button class="btn">
              <span> Comming Soon! </span>
            </button>
          </a>
        </div>
      </div> 

    <div class="product-new-card">
        <div class="product-img">
          <img src="public/images/product/lock.svg" alt="">
        </div>
        <div class="product-text">
          <h3>Mobile Application Security management</h3>
          <p>Execute scans periodically to identify known vulnerabilities in your mobile applications.</p>
        </div>
        <div class="product-btn">
          <a href="products/comming.html?p=masm">
            <button class="btn">
              <span> Comming Soon! </span>
            </button>
          </a>
        </div>
      </div> -->
