    <div class="product-new-card">
        <div class="product-img">
          <img src="public/images/product/lock.svg" alt="">

        </div>
        <div class="product-text">
          <h3>Asset Inventory Management</h3>
          <p>Gain full visibility and control over your assets with real-time inventory management.</p>
        </div>
        <div class="product-btn">
          <a href="products/?product=aim">
            <button class="btn">
              <span> Read More </span>
            </button>
          </a>
        </div>
      </div>


<div class="product-new-card">
        <div class="product-img">
          <img src="public/images/product/lock.svg" alt="">

        </div>
        <div class="product-text">
          <h3>Attack Surface Management</h3>
          <p>Continuously identify and minimize your external attack surface for enhanced security.</p>
        </div>
        <div class="product-btn">
          <a href="products/?product=asm">
            <button class="btn">
              <span> Read More </span>
            </button>
          </a>
        </div>
      </div>

      <div class="product-new-card">
        <div class="product-img">
          <img src="public/images/product/lock.svg" alt="">
        </div>
        <div class="product-text">
          <h3>Vulnerability Management</h3>
          <p>Elevate collaboration and efficiency in your vulnerability management process.</p>
        </div>
        <div class="product-btn">
          <a href="products/?product=vm">
            <button class="btn">
              <span> Read More </span>
            </button>
          </a>
        </div>
      </div>

      <div class="product-new-card">
        <div class="product-img">
          <img src="public/images/product/lock.svg" alt="">
        </div>
        <div class="product-text">
          <h3>Employee Training Management</h3>
          <p>Enhance defense with Employee Training for crucial cybersecurity skills.</p>
        </div>
        <div class="product-btn">
          <a href="products/?p=etp">
            <button class="btn">
              <span> Read More </span>
            </button>
          </a>
        </div>
      </div>

      <div class="product-new-card">
        <div class="product-img">
          <img src="public/images/product/lock.svg" alt="">
        </div>
        <div class="product-text">
          <h3>Secret Monitoring System</h3>
          <p>Monitor and detect leaked credentials and secrets across your external attack surface.</p>
        </div>
        <div class="product-btn">
          <a href="products/?product=ss">
            <button class="btn">
              <span> Read More </span>
            </button>
          </a>
        </div>
      </div>

      <div class="product-new-card">
        <div class="product-img">
          <img src="public/images/product/lock.svg" alt="">
        </div>
        <div class="product-text">
          <h3>Phishing Simulator</h3>
          <p>Strategize and execute phishing simulation attacks seamlessly with our interactive Phishing Simulator.</p>
        </div>
        <div class="product-btn">
          <a href="products/?product=ps">
            <button class="btn">
              <span> Read More </span>
            </button>
          </a>
        </div>
      </div>

      <div class="product-new-card">
        <div class="product-img ">
          <img src="public/images/product/lock.svg" alt="">
        </div>
        <div class="product-text">
          <h3>Vulnerability Disclosure Programme</h3>
          <p>Report security vulnerabilities responsibly to help us enhance our system's protection.</p>
        </div>
        <div class="product-btn">
          <a href="products/?product=vdp">
            <button class="btn">
              <span> Read More </span>
            </button>
          </a>
        </div>
      </div> 
